#title{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.subtitle{
    color: #ffffff;
}
body{
    background: linear-gradient(45deg, rgb(225, 0, 255) , rgb(0, 255, 234));
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    color: #ffffff;
}
.service-image{
    height: 400px;
    width: 70%;
    background: steelblue;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);

}

.link{
    text-decoration: none;
 
}

.note-title{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

#about-us-image{
    height: 300px;
    width: 60vw;
    float: right;
    margin: 25px;
}
.para-text{
    margin-right: 25px;
}
li{
    display: inline;
}

.nav-bar{
    float:right;
}

.container{
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-item{
  background: #ff006a;
  color:#ffffff;
  font: 25px;
  text-align: center;
  width: 70px;
  margin:10px;
}